.footer {
  background-color: transparent;
  width: 1175px;
  margin-bottom: 20px;
  margin: 0 auto;
  @include top-padding(15px);
  box-sizing: border-box;
  @include side-padding($padding-left-right-desktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__phone {
  font-family: "NeSkid", "Arial", cursive;
  font-size: 30px;
  line-height: 45px;
  color: $orange;
  text-decoration: none;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 5px white;

  &-little {
    display: block;
    text-align: center;
    font-size: 19px;
    line-height: 19px;
  }
}

.footer__socials {
  display: flex;
  @include list-reset;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: $tablet-width) {
  .footer {
    width: 768px;
    @include top-padding(15px);
    @include side-padding($padding-left-right-tablet);
    // @include side-padding($padding-left-right-tablet);
  }

  .footer__phone {
    font-size: 25px;
    line-height: 37px;

    &-little {
      font-size: 15px;
      line-height: 22px;
    }
  }

  .footer__logo img {
    width: 120px;
    height: auto;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    flex-direction: column;
    width: 320px;
    @include side-padding($padding-left-right-mobile);
  }

  .footer__socials {
    margin-bottom: 10px;
  }

  .footer__phone {
    font-size: 25px;
    line-height: 37px;

    &-little {
      display: inline-block;
      font-size: 15px;
      line-height: 22px;
    }
  }
}

