.slider {
  width: 100%;
  position: relative;
}

.slider__list {
  width: 100%;
}

.slider__switch {
  position: absolute;
  background-image: url("../img/.svg");
}

.slider__item {
  display: none;
  width: 100%;
}

.slider__item--active {
  display: block;
}

.slider-item__wrapper {
  position: relative;
  width: 1175px;
  min-height: 632px;
  margin: 0 auto;
}

.slider__item--animators {
  background-color: #371a55;

  a {
  position: absolute;
  bottom: 15%;
  left: 24%;
  background-color: white;
  color: $violet;

    &:hover {
      background-color: #ff5cd5;
      color: white;
    }
  }
}

.slider__item--logopedist {
  background-color: $light-green;

  a {
    position: absolute;
    bottom: 13%;
    left: 21.5%;
    background-color: $pink;
    color: white;

    &:hover {
      background-color: $dark-green;
      color: white;
    }
  }
}

.slider__item--education {
  background-color: #0bb6ff;

  a {
    position: absolute;
    bottom: 93px;
    left: 22%;
    background-color: $pink;
    color: white;

    &:hover {
      background-color: #004359;
      color: white;
    }
  }
}

.slider__dots-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(white, 0.5);
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.slider__dot--active {
  background-color: white;
}

@media (max-width: $tablet-width) {
  .slider-item__wrapper {
    width: 778px;
    min-height: 478px;
    margin: 0 auto;
  }

  .slider__item--animators a {
    bottom: 16%;
    left: 17.5%;
  }

  .slider__item--logopedist a {
    left: 16.5%;
    bottom: 18%;
  }

  .slider__item--education a {
    left: 19%;
  }
}

@media (max-width: $mobile-width) {
  .slider-item__wrapper {
    width: 320px;
    min-height: 296px;
    margin: 0 auto;
  }

  .slider__item {
    background-color: transparent;
  }

  .slider__item--animators a,
  .slider__item--logopedist a,
  .slider__item--education a {
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
  }

  .slider__dot {
    width: 7px;
    height: 7px;
    margin-right: 7px;
  }
}
