$min-width: 320px;
$max-width: 1366px;
$mobile-width: 767px;
$tablet-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$light-green: #7dd855;
$dark-green: #3d8d1e;
$orange: #fd904f;
$pink: #ff607c;
$violet: #4a256f;
$padding-left-right-desktop: 30px;
$padding-top-bottom-desktop: 65px;
$padding-left-right-tablet: 50px;
$padding-top-bottom-tablet: 40px;
$padding-left-right-mobile: 30px;
$padding-top-bottom-mobile: 40px;
$desktop-header: 54px;
$tablet-header: 36px;
$mobile-header: 30px;
